{% extends "base.html" %}

{% block content %}

    <h1>Faqja e parë shqiptare për vlerësimin e pedagogëve.</h1><br>
    <p>Faqja jonë synon të përforcojë të drejtën e fjalës dhe opinionit për studentet si dhe të ofrojë një udhëzim për studentet e rinj.</p>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Kërko për Universitet" aria-label="Kërko Universitetin" aria-describedby="button-addon1">
        <button class="btn btn-outline-primary" type="submit">Kërko</button>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Kërko për Profesor" aria-label="Kërko Profesorin" aria-describedby="button-addon2">
        <button class="btn btn-outline-primary" type="submit">Kërko</button>
    </div>

{% endblock %}
